APP_NAME=Flutter Stripe Starter
STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
STRIPE_BACKEND_URL=http://10.0.2.2:4242
STRIPE_MERCHANT_IDENTIFIER=merchant.com.example.flutterStripeStarter
STRIPE_MERCHANT_COUNTRY_CODE=US
STRIPE_DEFAULT_CURRENCY=usd
STRIPE_RETURN_URL_SCHEME=flutterstripestarter
STRIPE_GOOGLE_PAY_TEST_ENV=true
